During this period, seven companies offered scooters. How many scooters did each company have in this time frame? Did the number for each company change over time? Did scooter usage vary by company?

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT DISTINCT companyname, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup != 'bicycle'
GROUP BY companyname;
'''

with engine.connect() as connection:
    companycounts = pd.read_sql(text(query), con = connection)

In [ ]:
query = '''
SELECT DISTINCT companyname, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup != 'bicycle'
    AND pubdatetime BETWEEN '2019-05-01 00:01:00.000' AND '2019-05-31 23:59:59.000'
GROUP BY companyname;
'''

with engine.connect() as connection:
    maycounts = pd.read_sql(text(query), con = connection)

In [ ]:
query = '''
SELECT DISTINCT companyname, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup != 'bicycle'
    AND pubdatetime BETWEEN '2019-06-01 00:01:00.000' AND '2019-06-30 23:59:59.000'
GROUP BY companyname;
'''

with engine.connect() as connection:
    junecounts = pd.read_sql(text(query), con = connection)

In [ ]:
query = '''
SELECT DISTINCT companyname, COUNT(DISTINCT sumdid)
FROM scooters
WHERE sumdgroup != 'bicycle'
    AND pubdatetime BETWEEN '2019-07-01 00:01:00.000' AND '2019-07-31 23:59:59.000'
GROUP BY companyname;
'''

with engine.connect() as connection:
    julycounts = pd.read_sql(text(query), con = connection)

In [ ]:
maycounts['month'] = "May"
junecounts['month'] = "June"
julycounts['month'] = "July"

In [ ]:
mjcounts2 = pd.concat([maycounts, junecounts], ignore_index=True)
mjcounts2

In [ ]:
fullcounts_by_m = pd.concat([mjcounts2, julycounts], ignore_index=True)
fullcounts_by_m

In [ ]:
sns.lineplot(data=fullcounts_by_m, x="month", y="count", hue="companyname")

plt.legend()
plt.show()

In [ ]:
companycounts.sort_values("count", ascending=False)

In [ ]:
sns.barplot(data=companycounts.sort_values("count", ascending=False), x="companyname", y="count");

In [ ]:
sns.lineplot(data=fullcounts_by_m.groupby(by="month").sum().sort_values("count", ascending=False), x="month", y="count")


plt.show()